*{
    font-family: "Roboto";
    margin: 0;
}

header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 35%;
}

header>img{
    margin-left: 10%;
}


main{
    width: 80%;
    margin: auto;
}

header>img{
    width: 20%;
    padding-top: 3%;
}

h1{
    margin-bottom: 0;
    font-size: 44px;
    font-weight: bolder;
}

.author{
    color: gray;
    margin-bottom: 2%;
}

.name{
    color: aqua;
}

.data{
    color: gray;
    font-size: 10px;
}

.author>h4{
    margin-top:1%;
    margin-bottom: 0px;
}

figcaption{
    font-size: 12px;
}

ul{
    margin-top: 3%;
    margin-bottom: 3%;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #20a9e5;
    color: white;
}

.column{
    width: 25%;
}

.odd-row{
    background-color: #b1e5f2;
}

.paragraph-2{
    margin-top: 3%;
    margin-bottom: 3%;
}

aside>h4{
    color: gray;
}

.aside-element{
    background-size: contain;
    height: 150px;
    background-repeat: no-repeat;
    margin-bottom: 1%;
}

#img1{
    background-image: url(../img/monitor.jpg);
}

#img2{
    background-image: url(../img/graph.jpg);
}